*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: "Inter", sans-serif;
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        background-color: #465a86;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 20;
    }
}


