*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
}
p,h2,button,li,ul,span{
    font-family: "Inter", sans-serif;
}
.n-input, .n-input-wrapper, .n-input--resizable, .n-input--stateful{
    --n-border-hover: 1px solid #465a86;
}
/* header{
    position: fixed;
    width: 100%;
} */